<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/Smarty.plist"
            scopeName="text.html.smarty">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.php.textmate.smarty"
            scopeName="text.html.smarty">
      </scopeNameContentTypeBinding>
      <grammar
            path="syntaxes/HTML (Twig).tmLanguage"
            scopeName="text.html.twig">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.php.textmate.twig"
            scopeName="text.html.twig">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="tpl"
            id="org.eclipse.php.textmate.smarty"
            name="Smarty"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="twig"
            id="org.eclipse.php.textmate.twig"
            name="Twig"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.php.textmate.smarty"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.php.textmate.twig"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.php.textmate.smarty">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.php.textmate.twig">
      </presentationReconciler>
   </extension>

</plugin>
