<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2012, 2016, 2017 PDT Extension Group and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        PDT Extension Group - initial API and implementation
        Kaloyan Raev - [501269] externalize strings
 -->

<plugin>
   <extension-point id="executableLauncher" name="%ext-point.executableLauncher.name" schema="schema/executableLauncher.exsd"/>

   <extension
         id="org.eclipse.php.composer.core.builder.buildPathManagementBuilder"
         name="%buildPathManagementBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false">
         <run
               class="org.eclipse.php.composer.core.builder.ComposerBuildPathManagementBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.php.composer.core.build.BuildParticipantFactory"
            id="org.eclipse.php.composer.core.buildParticipant"
            name="%buildParticipant.name"
            nature="org.eclipse.php.core.PHPNature">
      </buildParticipant>
   </extension>

   <extension
         point="org.eclipse.dltk.core.buildpathContainerInitializer">
      <buildpathContainerInitializer
            class="org.eclipse.php.composer.core.ComposerBuildpathContainerInitializer"
            id="org.eclipse.php.composer.core.CONTAINER">
      </buildpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="php.composer.component">
         <label>
            %project.facet.label
         </label>
         <description>
            %project.facet.description
         </description>
      </project-facet>
      <project-facet-version
            facet="php.composer.component"
            version="1">
         <constraint>
            <and>
               <requires
                     facet="php.core.component">
               </requires>
            </and>
         </constraint>
      </project-facet-version>
      <action
            facet="php.composer.component"
            id="php.composer.component.install"
            type="install"
            version="1">
         <delegate
               class="org.eclipse.php.composer.core.facet.InstallActionDelegate">
         </delegate>
      </action>
      <action
            facet="php.composer.component"
            id="php.composer.component.uninstall"
            type="uninstall">
         <delegate
               class="org.eclipse.php.composer.core.facet.UninstallActionDelegate">
         </delegate>
      </action>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            extends="default.configuration"
            id="org.eclipse.php.composer.core.static-preset">
         <label>
            %project.facet.preset.label
         </label>
         <description>
            %project.facet.preset.description
         </description>
         <facet
               id="php.composer.component"
               version="1">
         </facet>
      </static-preset>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.php.composer.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.php.composer.core.executableLauncher">
      <environmentFactory
            class="org.eclipse.php.composer.core.launch.environment.ComposerEnvironmentFactory"
            id="org.eclipse.php.composer.core.launcherfactory">
      </environmentFactory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.json.core.jsonsource"
            id="composerJson"
            name="%content.type.name"
            priority="high">
      </content-type>
      <file-association
            content-type="org.eclipse.php.composer.core.composerJson"
            file-names="composer.json">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.wst.json.core.schemaCatalogContributions">
         <schemaCatalogContribution id="http://schemastore.org/">
            <schema name="composer.json"
                  description="%schema.description"
                  fileMatch="composer.json,composer.json"
                  url="http://json.schemastore.org/composer"
                  uri="schemastore/composer" />
         </schemaCatalogContribution>
         
	</extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.validators">
      <validator
            class="org.eclipse.php.composer.core.facet.FacetedProjectValidator">
      </validator>
   </extension>
   <extension
        id="composermarker"
        name="%marker.name"
        point="org.eclipse.core.resources.markers">
        <persistent value="true" />
        <super type="org.eclipse.core.resources.problemmarker"/> 
        <super type="org.eclipse.wst.common.project.facet.core.validation.marker"/>
   </extension>
</plugin>
