<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="debugCommunicationDaemon" name="Debug Communication Daemon" schema="schema/debugCommunicationDaemon.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.eclipse.php.debug.daemon.startup.DaemonStartup"/>
   </extension>

</plugin>
