<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 Rogue Wave Software, Inc. and others.

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        Rogue Wave Software - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.php.project.ui"
            class="org.eclipse.php.internal.rdt.sync.ui.wizards.NewRemoteSyncProjectWizard"
            finalPerspective="org.eclipse.php.perspective"
            icon="icons/etool16/new_sync_php_proj.png"
            id="org.eclipse.php.rdt.sync.ui.newSyncProjectWizard"
            name="%wizard.name.0"
            project="true">
            <description>
                %syncProject.desc
            </description>
      </wizard>
      <primaryWizard id="org.eclipse.php.rdt.sync.ui.newSyncProjectWizard" />
   </extension>
</plugin>
