<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2012, 2016, 2017 PDT Extension Group and others.

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        PDT Extension Group - initial API and implementation
        Kaloyan Raev - [501269] externalize strings
 -->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.php.composer.ui.editor.toolbar">
         <command
               commandId="org.eclipse.php.composer.ui.command.install"
               icon="icons/full/obj16/install.gif"
               label="%install.command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:sourceMenuId?before=sourceBegin">
         <command
               commandId="org.eclipse.php.composer.ui.command.injectAutoload"
               label="%inject.autoload.command.name"
               style="push">
            <visibleWhen checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                        <adapt
                           type="org.eclipse.core.resources.IProject">
                           <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
                        </adapt>
                  </iterate>
               </with>

            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:sourcePopupMenuId?after=sourceBegin">
         <command
               commandId="org.eclipse.php.composer.ui.command.injectAutoload"
               label="%inject.autoload.command.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                           <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.php.composer.ui.command.addComposerSupport"
               label="%add.composer.support.command.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <and>
	               <with
	                     variable="selection">
	                  <iterate
	                        ifEmpty="false"
	                        operator="and">
	                        	<adapt type="org.eclipse.core.resources.IProject">
		                        	<test
						                   property="org.eclipse.core.resources.projectNature"
						                   value="org.eclipse.php.core.PHPNature">
						             </test>
		                        </adapt>
	                  </iterate>
	               </with>
	               <not>
		               <with
		                     variable="selection">
		                  <iterate
		                        ifEmpty="false"
		                        operator="and">
		                        <adapt type="org.eclipse.core.resources.IProject">
		                        	<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
		                        </adapt>
		                  </iterate>
		               </with>
	               </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.php.composer.ui.command.removeComposerSupport"
               label="%remove.composer.support.command.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                        <adapt
                           type="org.eclipse.core.resources.IProject">
                           <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
                        </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.php.composer.ui.menu.composer"
               label="%composer.menu.label"
               icon="icons/full/obj16/composer.png">
            <visibleWhen
                  checkEnabled="false">
               <and>
	               <with
	                     variable="activeMenuSelection">
	                  <iterate
	                        ifEmpty="false"
	                        operator="and">
	                     <adapt
	                           type="org.eclipse.core.resources.IProject">
	                        <test
	                              property="org.eclipse.core.resources.open"
	                              value="true">
	                        </test>
	                     </adapt>
	                  </iterate>
	               </with>
	               <with
		                     variable="selection">
		                  <iterate
		                        ifEmpty="false"
		                        operator="and">
	       						<adapt
                                   type="org.eclipse.core.resources.IProject">
                                   <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
                              </adapt>
		                  </iterate>
		               </with>
	           </and>
            </visibleWhen>
            <command
                  commandId="org.eclipse.php.composer.ui.command.updateBuildpath"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%install.command.description"
            id="org.eclipse.php.composer.ui.command.install"
            name="%install.command.name">
      </command>
      <command
            description="%installDev.command.description"
            id="org.eclipse.php.composer.ui.command.installDev"
            name="%installDev.command.name">
      </command>
      <command
            description="%updateDev.command.description"
            id="org.eclipse.php.composer.ui.command.updateDev"
            name="%updateDev.command.name">
      </command>
      <command
            description="%update.command.description"
            id="org.eclipse.php.composer.ui.command.update"
            name="%update.command.name">
      </command>
      <command
            description="%selfupdate.command.description"
            id="org.eclipse.php.composer.ui.command.selfupdate"
            name="%selfupdate.command.name">
      </command>
      <command
            id="org.eclipse.php.composer.ui.command.graph"
            name="%graph.command.name">
      </command>
      <command
            defaultHandler="org.eclipse.php.composer.ui.commands.InjectAutoloadCommand"
            id="org.eclipse.php.composer.ui.command.injectAutoload"
            name="%inject.autoload.command.name">
      </command>
      <command
            defaultHandler="org.eclipse.php.composer.ui.handler.AddComposerSupportHandler"
            id="org.eclipse.php.composer.ui.command.addComposerSupport"
            name="%add.composer.support.command.name">
      </command>
      <command
            defaultHandler="org.eclipse.php.composer.ui.handler.RemoveComposerSupportHandler"
            id="org.eclipse.php.composer.ui.command.removeComposerSupport"
            name="%remove.composer.support.command.name">
      </command>
      <command
            defaultHandler="org.eclipse.php.composer.ui.commands.UpdateBuildPathCommand"
            id="org.eclipse.php.composer.ui.command.updateBuildpath"
            name="%update.build.path.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.php.ui.preferences.PHPToolsPreferencePage"
            class="org.eclipse.php.composer.ui.preferences.ComposerPreferencePage"
            id="org.eclipse.php.composer.ui.preferences.composer"
            name="%composer.page.name">
      </page>
      <page
            category="org.eclipse.php.composer.ui.preferences.composer"
            class="org.eclipse.php.composer.ui.preferences.SaveActionsPreferencePage"
            id="org.eclipse.php.composer.ui.preferences.composer.saveactions"
            name="%save.actions.page.name">
      </page>
   </extension>
   <!--
   <extension
         point="org.eclipse.php.ui.phpTreeContentProviders">
      <provider labelProvider="org.eclipse.php.composer.ui.explorer.PackageTreeLabelProvider" contentProvider="org.eclipse.php.composer.ui.explorer.PackageTreeContentProvider"
            >
      </provider>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.php.composer.ui.editor.composer.ComposerFormEditor"
            default="true"
            filenames="composer.json"
            icon="icons/full/obj16/packd_obj.png"
            id="org.eclipse.php.composer.ui.editor.composer.ComposerEditor"
            name="%composer.editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.php.composer.core.composerJson">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.php.ui.propertyPages.PHPBasePreferencePage"
            class="org.eclipse.php.composer.ui.preferences.ComposerPreferencePage"
            id="org.eclipse.php.composer.ui.preferences.project.composer"
            name="%composer.page.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
            </adapt>
        </enabledWhen>
      </page>
         
      <page
            category="org.eclipse.php.composer.ui.preferences.project.composer"
            class="org.eclipse.php.composer.ui.preferences.BuildPathManagementPage"
            id="org.eclipse.php.composer.ui.preferences.project.buildpathManagement"
            name="%build.path.page.name">
	         <enabledWhen>
	            <adapt
	                  type="org.eclipse.core.resources.IProject">
	               <instanceof
	                     value="org.eclipse.core.resources.IProject">
	               </instanceof>
	               <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
	            </adapt>
	        </enabledWhen>
      </page>
      <page
            category="org.eclipse.php.composer.ui.preferences.project.composer"
            class="org.eclipse.php.composer.ui.preferences.SaveActionsPreferencePage"
            id="org.eclipse.php.composer.ui.preferences.project.saveactions"
            name="%save.actions.page.name">
	         <enabledWhen>
	            <adapt
	                  type="org.eclipse.core.resources.IProject">
	               <instanceof
	                     value="org.eclipse.core.resources.IProject">
	               </instanceof>
	               <test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="php.composer.component" />
	            </adapt>
	        </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.php.project.ui"
            class="org.eclipse.php.composer.ui.wizard.project.ComposerProjectCreationWizard"
            finalPerspective="org.eclipse.php.perspective"
            icon="icons/full/obj16/composer_project.gif"
            id="org.eclipse.php.composer.ui.projectwizard"
            name="%composer.project.wizard.name"
            preferredPerspectives="org.eclipse.php.perspective"
            project="true">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            %composer.project.wizard.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.php.project.ui"
            class="org.eclipse.php.composer.ui.wizard.project.template.PackageProjectCreationWizard"
            finalPerspective="org.eclipse.php.perspective"
            icon="icons/full/obj16/logical_package_obj.png"
            id="org.eclipse.php.composer.ui.projectFromPackagewizard"
            name="%package.project.wizard.name"
            preferredPerspectives="org.eclipse.php.perspective"
            project="true">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            %package.project.wizard.description
         </description>
      </wizard>
      <primaryWizard
            id="org.eclipse.php.composer.ui.projectwizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.php.composer.ui.projectFromPackagewizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <newWizardShortcut
               id="org.eclipse.php.composer.ui.projectwizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.php.composer.ui.projectFromPackagewizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="Resources/help/help_contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="Resources/intro/composer.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.php.ui.PHP"
            class="org.eclipse.php.composer.ui.wizard.importer.ComposerImportWizard"
            icon="icons/full/obj16/correction_move.png"
            id="org.eclipse.php.composer.ui.importWizard"
            name="%import.project.wizard.name">
      </wizard>
   </extension>
   <extension 
        point="org.eclipse.wst.common.project.facet.ui.images">
        <image path="icons/full/obj16/composer.png" facet="php.composer.component" />
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.wst.json.core.jsonsource"
            file-names="composer.lock">
      </file-association>
   </extension>

   	<extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages
            action="php.composer.component.install">
         <page
               class="org.eclipse.php.composer.ui.facet.FacetInstallWizardPage">
         </page>
      </wizard-pages>
   </extension>
</plugin>
