[project]
	state = active
	description = Eclipse PDT
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	abandon = group ldap/tools.pdt
	create = group ldap/tools.pdt
	forgeAuthor = group ldap/tools.pdt
	push = group ldap/tools.pdt
	pushMerge = group ldap/tools.pdt
	label-Code-Review = -2..+2 group ldap/tools.pdt
	label-IP-Clean = -1..+1 group ldap/tools.pdt
	label-Verified = -1..+1 group ldap/tools.pdt
	submit = group ldap/tools.pdt
[access "refs/tags/*"]
	create = group ldap/tools.pdt
	push = group ldap/tools.pdt
	pushTag = group ldap/tools.pdt
	pushSignedTag = group ldap/tools.pdt
