<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.php.core.libraryFolderNameProviders">
       <provider
             class="org.eclipse.php.composer.core.internal.ComposerLibraryFolderNameProvider">
       </provider>
    </extension>
    <extension
          id="composer.validator"
          name="Composer Validator"
          point="org.eclipse.wst.validation.validatorV2">
       <validator
             build="true"
             class="org.eclipse.php.composer.core.internal.validation.ComposerValidator"
             manual="true"
             markerId="org.eclipse.core.resources.problemmarker"
             version="1">
          <include>
             <rules>
                <file
                      caseSensitive="false"
                      name="composer.json"
                      type="full">
                </file>
             </rules>
          </include>
       </validator>
    </extension>
</plugin>
