<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.eclipse.php.target.next" sequenceNumber="11">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">

<unit id="org.eclipse.wst.jsdt.feature.feature.group" version=""/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version=""/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version=""/>
<unit id="org.eclipse.wst.json_ui.feature.feature.group" version=""/>

<unit id="org.eclipse.zest.layouts" version=""/>
<unit id="org.eclipse.zest.core" version=""/>
<unit id="org.eclipse.platform.feature.group" version=""/>
<unit id="org.eclipse.e4.rcp.feature.group" version=""/>
<unit id="org.eclipse.equinox.p2.ui.discovery" version=""/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version=""/>
<unit id="org.eclipse.ptp.rdt.sync.feature.group" version=""/>
<unit id="org.eclipse.ptp.remote.feature.group" version="" />
<unit id="org.eclipse.remote.feature.group" version="" />

<unit id="org.eclipse.birt.chart.engine" version=""/>
<unit id="org.eclipse.birt.chart.engine.extension" version=""/>
<unit id="org.eclipse.birt.chart.device.swt" version=""/>


<repository location="https://download.eclipse.org/releases/2021-06/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="org.apache.commons.exec" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.lang3" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.13.v20210128-2225"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.14.v20210128-2225"/>
<unit id="org.junit" version="4.13.0.v20200204-1500"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="3.5.100.v20120528-1714-7R7dBhBgLiCViQnG8ISKO73701A1"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.2/R-4.2-201206081400"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.mylyn.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.core.index.lucene.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.core.tests" version="0.0.0" />
<repository location="https://download.eclipse.org/technology/dltk/updates-nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.json_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.21.0/I-latest/repository" />
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
