<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.eclipse.php.target.next" sequenceNumber="11">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">

<unit id="org.eclipse.wst.jsdt.feature.feature.group" version=""/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version=""/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version=""/>
<unit id="org.eclipse.wst.json_ui.feature.feature.group" version=""/>

<unit id="org.eclipse.zest.layouts" version=""/>
<unit id="org.eclipse.zest.core" version=""/>
<unit id="org.eclipse.platform.feature.group" version=""/>
<unit id="org.eclipse.e4.rcp.feature.group" version=""/>
<unit id="org.eclipse.equinox.p2.ui.discovery" version=""/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version=""/>
<unit id="org.eclipse.ptp.rdt.sync.feature.group" version=""/>
<unit id="org.eclipse.ptp.remote.feature.group" version="" />
<unit id="org.eclipse.remote.feature.group" version="" />

<unit id="org.eclipse.birt.chart.engine" version=""/>
<unit id="org.eclipse.birt.chart.engine.extension" version=""/>
<unit id="org.eclipse.birt.chart.device.swt" version=""/>

<unit id="org.eclipse.wildwebdeveloper.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2023-12/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.lang3" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>

<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<unit id="org.junit" version="0.0.0"/>

<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230302014618/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="javax.xml.bind" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="3.5.100.v20120528-1714-7R7dBhBgLiCViQnG8ISKO73701A1"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.2/R-4.2-201206081400"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.core.index.lucene.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.core.tests" version="0.0.0" />
<unit id="org.eclipse.dltk.mylyn.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/technology/dltk/updates-nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.identity.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.activity.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.repositories.feature.feature.group" version="0.0.0"/>

<unit id="org.eclipse.mylyn.context.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.ide.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.monitor.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.tasks.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.team.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/mylyn/updates/milestone/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.json_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.28.0/R-3.28.0-20221120050827/repository" />
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
