<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    Contributors:
        IBM Corporation - initial API and implementation
        Zend Technologies
 -->

<plugin>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.php.examples.xss.BuildParticipantFactory"
            id="org.eclipse.php.examples.xss.buildParticipant"
            name="XSS Protection"
            nature="org.eclipse.php.core.PHPNature">
      </buildParticipant>
   </extension>

</plugin>
