<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.mylyn.context.ui.bridges">
		<preservedFilters
			viewId="org.eclipse.ui.navigator.ProjectExplorer">
		</preservedFilters>
	</extension>
	<extension
		point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding
			viewerId="org.eclipse.mylyn.context.ui.navigator.context">
			<includes>
				<contentExtension
					pattern="org.eclipse.php.ui.phpContent" />
			</includes>
		</viewerContentBinding>
		<viewerContentBinding
			viewerId="org.eclipse.mylyn.context.ui.navigator.context.quick">
			<includes>
				<contentExtension
					pattern="org.eclipse.php.ui.phpContent" />
			</includes>
		</viewerContentBinding>
	</extension>
	
	<extension
		point="org.eclipse.mylyn.context.ui.startup">
		<startup
			class="org.eclipse.php.mylyn.ui.PDTMylynPlugin$PDTUIBridgeStartup">
		</startup>
	</extension>

	<extension
		point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.mylyn.dltk.actionSet">
			<part
				id="org.eclipse.php.internal.ui.editor.PHPStructuredEditor">
			</part>
		</actionSetPartAssociation>
	</extension>
</plugin>
