<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.moduleTypes">
      <moduleType
            id="php.web"
            name="PHP Project">
      </moduleType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="org.eclipse.php.internal.server.core.builtin.PHPRuntime"
            description="PHP"
            id="org.eclipse.php.server.runtime"
            name="PHP"
            supportsManualCreation="true"
            vendor="PHP">
         <moduleType
               types="php.web"
               versions="5.0, 5.3, 5.4, 5.5, 5.6, 7.0, 7.1, 7.2, 7.3, 7.4">
         </moduleType>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeLocators">
      <runtimeLocator
            class="org.eclipse.php.internal.server.core.builtin.PHPRuntimeLocator"
            id="org.eclipse.php.server.core.PHPRuntimeLocator"
            typeIds="org.eclipse.php.server.runtime">
      </runtimeLocator>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.eclipse.php.internal.server.core.builtin.PHPServerBehaviour"
            class="org.eclipse.php.internal.server.core.builtin.PHPServer"
            description="PHP Built-in Server"
            hasConfiguration="true"
            id="org.eclipse.php.server.builtin"
            initialState="stopped"
            launchConfigId="org.eclipse.php.server.core.launchConfigurationType"
            name="PHP Built-in Server"
            runtime="true"
            runtimeTypeId="org.eclipse.php.server.runtime"
            startTimeout="30000"
            stopTimeout="15000"
            supportsRemoteHosts="true">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            class="org.eclipse.php.internal.server.core.builtin.PHPProjectModuleFactory"
            id="org.eclipse.php.builtin.server.core.moduleFactory"
            projects="true">
         <moduleType
               types="php.web"
               versions="*">
         </moduleType>
      </moduleFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.php.internal.server.core.builtin.PHPServerLaunchConfigurationDelegate"
            id="org.eclipse.php.server.core.launchConfigurationType"
            modes="run, debug"
            name="PHP Built-in Server"
            sourceLocatorId="org.eclipse.php.debug.core.sourceLookupDirector.php"
            sourcePathComputerId="org.eclipse.php.debug.core.sourcePathComputer.php">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishTasks">
      <publishTask
            class="org.eclipse.php.internal.server.core.builtin.PublishTask"
            id="org.eclipse.php.builtin.server.core.publishTask"
            typeIds="org.eclipse.php.server.builtin.*">
      </publishTask>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.moduleArtifactAdapters">
      <moduleArtifactAdapter
            id="org.eclipse.php.builtin.server.core.php1"
            class="org.eclipse.php.internal.server.core.builtin.deployables.PHPDeployableObjectAdapter">
         <enablement>
            <with variable="selection">
               <adapt type="org.eclipse.core.resources.IProject">
                  <test forcePluginActivation="true"
                        property="org.eclipse.wst.common.project.facet.core.projectFacet"
                        value="php.component" />
               </adapt>
            </with>
         </enablement>
      </moduleArtifactAdapter>
      <moduleArtifactAdapter
            id="org.eclipse.php.builtin.server.core.php2"
            class="org.eclipse.php.internal.server.core.builtin.deployables.PHPDeployableObjectAdapter">
         <enablement>
            <with variable="selection">
               <adapt type="org.eclipse.core.resources.IFile">
                  <test forcePluginActivation="true"
                        property="org.eclipse.wst.common.project.facet.core.projectFacet"
                        value="php.component" />
               </adapt>
            </with>
         </enablement>
      </moduleArtifactAdapter> 
   </extension>
   <extension
         point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
            class="org.eclipse.php.internal.server.core.builtin.PHPServerLaunchableAdapterDelegate"
            id="org.eclipse.php.server.builtin">
      </launchableAdapter>
   </extension>
</plugin>
