<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.eclipse.php.internal.server.ui.builtin.PHPRuntimeWizardFragment"
            id="org.eclipse.php.server.runtime"
            typeIds="org.eclipse.php.server.runtime">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.server.builtin"
            typeIds="org.eclipse.php.server.builtin">
      </image>
      <image
            icon="icons/full/obj16/php_exe.png"
            id="org.eclipse.php.server.builtin"
            typeIds="org.eclipse.php.server.runtime">
      </image>
      <image
            icon="icons/full/obj16/php_project_obj.png"
            id="module.php.web"
            typeIds="php.web">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.php.internal.server.ui.builtin.PHPServerLaunchConfigurationTabGroup"
            id="org.eclipse.php.server.ui.launchConfigurationTabGroup"
            type="org.eclipse.php.server.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.php.server.core.launchConfigurationType"
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.builtin.server.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.eclipse.php.internal.server.ui.builtin.editor.ServerPortEditorSection"
            id="org.eclipse.php.builtin.server.editor.port"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="10"
            typeIds="org.eclipse.php.server.builtin">
      </section>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="org.eclipse.wst.server.ui.ServersView"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypeDescriptor">
      <descriptor
          icon16="icons/full/obj16/server.png"
          icon32="icons/full/obj32/server.png"
          iconWizard="icons/full/wizban/server_wiz.png"
          id="org.eclipse.php.server.builtin.serverTypeDescriptor"
          serverTypeId="org.eclipse.php.server.builtin">
       <wizard>
          <fragment
                id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
          </fragment>
          <fragment
                id="org.eclipse.php.debug.ui.wizards.DebuggerCompositeFragmentFactory">
          </fragment>
       </wizard>
       <editor>
          <fragment
                id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
          </fragment>
          <fragment
                id="org.eclipse.php.debug.ui.wizards.DebuggerCompositeFragmentFactory">
          </fragment>
       </editor>
    </descriptor>
   </extension>

</plugin>
