<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.eclipse.php.internal.server.ui.builtin.PHPRuntimeWizardFragment"
            id="org.eclipse.php.server.runtime.54"
            typeIds="org.eclipse.php.server.runtime.54">
      </fragment>
      <fragment
            class="org.eclipse.php.internal.server.ui.builtin.PHPRuntimeWizardFragment"
            id="org.eclipse.php.server.runtime.55"
            typeIds="org.eclipse.php.server.runtime.55">
      </fragment>
      <fragment
            class="org.eclipse.php.internal.server.ui.builtin.PHPRuntimeWizardFragment"
            id="org.eclipse.php.server.runtime.56"
            typeIds="org.eclipse.php.server.runtime.56">
      </fragment>
      <fragment
            class="org.eclipse.php.internal.server.ui.builtin.PHPRuntimeWizardFragment"
            id="org.eclipse.php.server.runtime.70"
            typeIds="org.eclipse.php.server.runtime.70">
      </fragment>
      <fragment
            class="org.eclipse.php.internal.server.ui.builtin.PHPRuntimeWizardFragment"
            id="org.eclipse.php.server.runtime.71"
            typeIds="org.eclipse.php.server.runtime.71">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.server.builtin.54"
            typeIds="org.eclipse.php.server.builtin.54">
      </image>
      <image
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.server.builtin.55"
            typeIds="org.eclipse.php.server.builtin.55">
      </image>
      <image
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.server.builtin.56"
            typeIds="org.eclipse.php.server.builtin.56">
      </image>
      <image
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.server.builtin.70"
            typeIds="org.eclipse.php.server.builtin.70">
      </image>
      <image
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.server.builtin.71"
            typeIds="org.eclipse.php.server.builtin.71">
      </image>
      <image
            icon="icons/full/obj16/php_exe.png"
            id="org.eclipse.php.server.builtin.54"
            typeIds="org.eclipse.php.server.runtime.54">
      </image>
      <image
            icon="icons/full/obj16/php_exe.png"
            id="org.eclipse.php.server.builtin.55"
            typeIds="org.eclipse.php.server.runtime.55">
      </image>
      <image
            icon="icons/full/obj16/php_exe.png"
            id="org.eclipse.php.server.builtin.56"
            typeIds="org.eclipse.php.server.runtime.56">
      </image>
      <image
            icon="icons/full/obj16/php_exe.png"
            id="org.eclipse.php.server.builtin.70"
            typeIds="org.eclipse.php.server.runtime.70">
      </image>
      <image
            icon="icons/full/obj16/php_exe.png"
            id="org.eclipse.php.server.builtin.71"
            typeIds="org.eclipse.php.server.runtime.71">
      </image>
      <image
            icon="icons/full/obj16/php_project_obj.png"
            id="module.php.web"
            typeIds="php.web">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.php.internal.server.ui.builtin.PHPServerLaunchConfigurationTabGroup"
            id="org.eclipse.php.server.ui.launchConfigurationTabGroup"
            type="org.eclipse.php.server.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.php.server.core.launchConfigurationType"
            icon="icons/full/obj16/server.png"
            id="org.eclipse.php.builtin.server.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.eclipse.php.internal.server.ui.builtin.editor.DocumentRootEditorSection"
            id="org.eclipse.php.builtin.server.editor.document.root"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="org.eclipse.php.server.builtin.*">
      </section>
         <!--
      -->
      <section
            class="org.eclipse.php.internal.server.ui.builtin.editor.ServerPortEditorSection"
            id="org.eclipse.php.builtin.server.editor.port"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="10"
            typeIds="org.eclipse.php.server.builtin.*">
      </section>
   </extension>

</plugin>
