<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="org.eclipse.php.server.ui.launchConfigurationTypeImage"
      configTypeID="org.eclipse.php.debug.core.launching.webPageLaunch"
      icon="icons/full/obj16/server.gif">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.eclipse.php.server.ui.launchConfigurationTabGroup"
      type="org.eclipse.php.debug.core.launching.webPageLaunch"
      class="org.eclipse.php.internal.server.ui.ServerLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>
  
  <extension
       point="org.eclipse.php.debug.ui.launchConfigurationTabs">
    <launchConfigurationTab
          class="org.eclipse.php.internal.server.ui.launching.PHPWebPageLaunchConfigurationTab"
          id="org.eclipse.php.debug.ui.launching.PHPWebPageLaunchConfigurationTab"
          launchConfigurationTabGroupId="org.eclipse.php.server.ui.launchConfigurationTabGroup"/>
    <launchConfigurationTab
          class="org.eclipse.php.internal.server.ui.launching.PHPServerAdvancedTab"
          id="org.eclipse.php.debug.ui.launching.PHPServerAdvancedTab"
          launchConfigurationTabGroupId="org.eclipse.php.server.ui.launchConfigurationTabGroup"
          placeAfter="org.eclipse.php.debug.ui.launching.PHPWebPageLaunchConfigurationTab"/>
 </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="org.eclipse.php.internal.server.ui.launching.PHPWebPageLaunchShortcut"
           description="%WebLaunch.description"
           icon="icons/full/obj16/server_run.gif"
           id="org.eclipse.php.server.ui.phpServerShortcut"
           label="%phpServerShortcut.label"
           modes="run, debug, profile">
            <contextualLaunch>
		 	<contextLabel mode="run" label="%phpServerShortcut.label"/>
		 	<enablement>
		 		<count value="1"/>
	 <!-- Pass a 'webPage' argument for the enablement test -->
     <test
     	   args="webPage"
           property="org.eclipse.php.debug.ui.launchablePHP"
           value="true"/>
		 	</enablement>
		 </contextualLaunch>
         <contextualLaunch>
            <contextLabel
                  label="%phpServerShortcut.label"
                  mode="debug"/>
            <enablement>
               <count value="1"/>
               <!-- Pass a 'webPage' argument for the enablement test -->
               <test
                     args="webPage"
                     property="org.eclipse.php.debug.ui.launchablePHP"
                     value="true"/>
            </enablement>
         </contextualLaunch>
		 
         <perspective
               id="org.eclipse.ui.resourcePerspective">
         </perspective>
         <perspective
         	   id="org.eclipse.php.perspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <configurationType
               id="org.eclipse.php.debug.core.launching.webPageLaunch">
         </configurationType>
      </shortcut>
  </extension>
  <extension
         point="org.eclipse.ui.commands">
          <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug PHP Web Page"
            id="org.eclipse.php.server.ui.phpServerShortcut.debug"
            name="Debug PHP Web Page"/>
          <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run PHP Web Page"
            id="org.eclipse.php.server.ui.phpServerShortcut.run"
            name="Run PHP Web Page"/>  
   </extension>
    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.php.server.ui.phpServerShortcut.run"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X W"/>
      <key
            commandId="org.eclipse.php.server.ui.phpServerShortcut.debug"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+D W"/>            
    </extension>   
   
   
  <extension
        point="org.eclipse.php.ui.wizardAndCompositeFragments">
     <wizardAndCompositeFragment
           class="org.eclipse.php.internal.server.ui.wizard.BasicCompositeFragmentFactory"
           fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
           id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
           name="Basic Factory"/>
     <wizardAndCompositeFragment
           class="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
           fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
           id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
           name="Path Mapper Fragment"
           placeAfter="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
     </wizardAndCompositeFragment>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
           class="org.eclipse.php.internal.server.ui.PHPServersPreferencePage"
           id="org.eclipse.php.server.internal.ui.PHPServersPreferencePage"
           name="%serversPreferencesPageName"/>
  </extension>
  <extension
        point="org.eclipse.php.debug.ui.debugServerConnectionTest">
     <debugServerTest
           class="org.eclipse.php.internal.server.ui.launching.zend.DefaultDebugServerConnectionTest"
           debuggeTypeName="Zend Debugger"
           debuggerTypeName="Zend Debugger"
           id="org.eclipse.php.server.ui.defaultZendDebugServerTest">
     </debugServerTest>
  </extension>
</plugin>
